* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #6c6c6c;
    --text-color: #262626;
}

.background {
    background: var(--bg-color);
}

.text {
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;

    scrollbar-width: 8px;

}

.hidden {
    display: none;
}

.block {
    display: block;
}

.modal {
    transition: opacity 0.25s ease;
}

.modal-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-visible {
    opacity: 1;
}