* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100%;

	scrollbar-width: 8px;

}



/* 

.container {
	text-align: center;
	background-color: #f4f4f4;
	/* border-radius: 10px; */
/* padding: 20px; */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dropdown-container {
	display: flex;
	align-items: center;
	margin: 10px;
}

#course-type,
#course,
#semester,
#subject {
	width: 250px;
}

label {
	font-family: Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	width: 170px;
	text-align: left;
}

.styled-select {
	padding: 10px;
	border: none;
	border-radius: 11px;
	background-color: #e7e7e7;
	width: 100%;
}

.styled-button {
	background-color: #27279f;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 20px;
	font-size: 16px;
}

.styled-button:hover {
	background-color: #45a049;
	color: black;
	font-weight: bold;
}

#data-table {
	margin-top: 40px;
	width: 100%;
	border-collapse: collapse;
	background-color: #f0f0f0;
	display: none;
}

#data-table th,
#data-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

#data-table th {
	background-color: #4CAF50;
	color: white;
}

/* nav {
	background-color: #27279f;
	overflow: hidden;
	position: absolute;
	transition: background-color 0.3s;
	top: 0;
	right: 0;
	font-weight: bold;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
}

nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #45a049;
	color: black;
	font-weight: bold;
} */

.styled-button-reset {
	padding: 10px 20px;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ff4136;
	/* Change the background color */
	color: #fff;
	/* Change the text color */
	font-size: 16px;
}

.styled-button-reset:hover {
	background-color: #d8342f;
	/* Change the hover background color */
}

*/